In [1]:
import pandas as pd
import numpy as np
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('Data/title_basics.csv.gz')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79386 entries, 0 to 79385
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          79386 non-null  object
 1   titleType       79386 non-null  object
 2   primaryTitle    79386 non-null  object
 3   originalTitle   79386 non-null  object
 4   isAdult         79386 non-null  int64
 5   startYear       79386 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  79386 non-null  int64
 8   genres          79386 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.5+ MB

In [3]:
df['genres_split'] = df['genres'].str.split(',')
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller","[Horror, Music, Thriller]"
...,...,...,...,...,...,...,...,...,...,...
79381,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama,[Drama]
79382,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
79383,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama,[Drama]
79384,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
79385,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History","[Drama, History]"

In [4]:
genres_split = df['genres'].str.split(',')
exploded_genres = df.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
79384,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Action
79384,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Adventure
79384,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller",Thriller
79385,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",Drama
79385,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",History

In [5]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [6]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [7]:
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [8]:
df['genre_id'] = df['genres_split'].replace(genre_id_map)
df['genre_id']

0           [Comedy, Fantasy, Romance]
1                              [Drama]
2                              [Drama]
3             [Comedy, Horror, Sci-Fi]
4            [Horror, Music, Thriller]
                     ...
79381                          [Drama]
79382         [Comedy, Drama, Fantasy]
79383                          [Drama]
79384    [Action, Adventure, Thriller]
79385                 [Drama, History]
Name: genre_id, Length: 79386, dtype: object

In [9]:
genres = pd.DataFrame({'Genre_Name': genre_id_map.keys(),
                            'Genre_ID':genre_id_map.values()})
genres

    Genre_Name  Genre_ID
0       Action         0
1        Adult         1
2    Adventure         2
3    Animation         3
4    Biography         4
5       Comedy         5
6        Crime         6
7        Drama         7
8       Family         8
9      Fantasy         9
10   Game-Show        10
11     History        11
12      Horror        12
13       Music        13
14     Musical        14
15     Mystery        15
16        News        16
17  Reality-TV        17
18     Romance        18
19      Sci-Fi        19
20       Short        20
21       Sport        21
22   Talk-Show        22
23    Thriller        23
24         War        24
25     Western        25

In [36]:
title_basics = df.drop(columns = ['originalTitle', 'isAdult', 'titleType', 'genres_split', 'genre_id'], axis = 1)
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79386 entries, 0 to 79385
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          79386 non-null  object
 1   primaryTitle    79386 non-null  object
 2   startYear       79386 non-null  int64
 3   endYear         0 non-null      float64
 4   runtimeMinutes  79386 non-null  int64
 5   genres          79386 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 3.6+ MB

In [33]:
from sqlalchemy.types import *
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
key_len = title_basics['tconst'].fillna('').map(len).max()
title_len = title_basics['primaryTitle'].fillna('').map(len).max()
title_basics_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [29]:
username='root'
password='TuffyBrunoFreya1998!'

In [30]:
connection = f"mysql+pymysql://{username}:{password}@localhost/movies"
engine = create_engine(connection)

In [31]:
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created.')

It exists!

In [41]:
title_basics.to_sql('title_basics',engine,dtype=title_basics_schema,if_exists='replace',index=False)
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [42]:
title_ratings = pd.read_csv("Data/title.ratings.tsv.gz")
title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253226 entries, 0 to 1253225
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1253226 non-null  object
 1   averageRating  1253226 non-null  float64
 2   numVotes       1253226 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.7+ MB

In [43]:
key_len_ratings = title_ratings['tconst'].fillna('').map(len).max()
title_ratings_schema = {
    "tconst": String(key_len+1), 
    'averageRating':Float(),
    'numVotes':Integer()}

In [44]:
title_ratings.to_sql('title_ratings',engine,dtype=title_ratings_schema,if_exists='replace',index=False)

In [45]:
title_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148466 entries, 0 to 79385
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tconst        148466 non-null  object
 1   genres_split  148466 non-null  object
dtypes: object(2)
memory usage: 3.4+ MB

In [46]:
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [48]:
key_len_genres = title_genres['tconst'].fillna('').map(len).max()
title_gen = title_genres['genres_split'].fillna('').map(len).max()
title_genres_schema = {
    "tconst": String(key_len+1), 
    'genres_split':Text(title_len+1)}

In [49]:
title_genres.to_sql('title_genres',engine,dtype=title_genres_schema,if_exists='replace',index=False)

In [19]:
genres

    Genre_Name  Genre_ID
0       Action         0
1        Adult         1
2    Adventure         2
3    Animation         3
4    Biography         4
5       Comedy         5
6        Crime         6
7        Drama         7
8       Family         8
9      Fantasy         9
10   Game-Show        10
11     History        11
12      Horror        12
13       Music        13
14     Musical        14
15     Mystery        15
16        News        16
17  Reality-TV        17
18     Romance        18
19      Sci-Fi        19
20       Short        20
21       Sport        21
22   Talk-Show        22
23    Thriller        23
24         War        24
25     Western        25

In [50]:
genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Genre_Name  26 non-null     object
 1   Genre_ID    26 non-null     int64
dtypes: int64(1), object(1)
memory usage: 544.0+ bytes

In [51]:
key_len_genres1 = genres['Genre_Name'].fillna('').map(len).max()
genres_schema = {
    "Genre_Name": String(key_len+1), 
    'Genre_ID':Integer()}

In [52]:
genres.to_sql('genres',engine,dtype=genres_schema,if_exists='replace',index=False)

In [53]:
df1 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
df2 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')
tmdb = pd.concat([df1, df2])

In [55]:
tmdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2479 entries, 0 to 1280
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2479 non-null   object
 1   adult                  2477 non-null   float64
 2   backdrop_path          1256 non-null   object
 3   belongs_to_collection  194 non-null    object
 4   budget                 2477 non-null   float64
 5   genres                 2477 non-null   object
 6   homepage               173 non-null    object
 7   id                     2477 non-null   float64
 8   original_language      2477 non-null   object
 9   original_title         2477 non-null   object
 10  overview               2424 non-null   object
 11  popularity             2477 non-null   float64
 12  poster_path            2174 non-null   object
 13  production_companies   2477 non-null   object
 14  production_countries   2477 non-null   object
 15  release_date           2458 non-null   object
 16  revenue                2477 non-null   float64
 17  runtime                2436 non-null   float64
 18  spoken_languages       2477 non-null   object
 19  status                 2477 non-null   object
 20  tagline                1024 non-null   object
 21  title                  2477 non-null   object
 22  video                  2477 non-null   float64
 23  vote_average           2477 non-null   float64
 24  vote_count             2477 non-null   float64
 25  certification          786 non-null    object
dtypes: float64(9), object(17)
memory usage: 522.9+ KB

In [56]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings